		* {
		    margin: 0;
		    padding: 0;
		}
		/*默认取消边距*/
		/*div {}*/
		
		.header {
		    background-color: orange;
		    height: 150px;
		}
		/*设置网页头部颜色和尺寸*/
		
		.atricle {
		    background-color: green;
		    min-height:300px;
		    overflow: hidden;
		}
		/*设置正文颜色和高度，将溢出的区域隐藏*/
		
		.footer {
		    background-color: yellow;
		    height: 100px;
		}
		/*设置底部颜色和高度*/
		
		.inner {
		    margin-left: 150px;
		    margin-right: 100px;
		}
		
		.atricle .middle {
		    background-color: brown;
		    float: left;
		    margin-bottom: -9999px; 
		    padding-bottom: 9999px;
		    width: 100%;
		}
		/*中部区域样式 此处不理解为什么margin-bottom要设置-9999px，实际测试不设也可以，只要设置padding就可以*/
		
		.atricle .left {
		    background-color: blue;
		    float: left;
		    width: 150px;
		    color: white;
		    /*height: 18px;*/
		    margin-bottom: -9999px;
		    padding-bottom: 9999px;
		    margin-left: -100%;
		    /*position: relative;
			left: -150px; */
		}
		/*左边区域样式*/
		
		.atricle .right {
		    background-color: aquamarine;
		    float: left;
		    width: 100px;
		    /*height: 18px;*/
		    margin-bottom: -9999px;
		    padding-bottom: 9999px;
		    margin-left: -100px;
		    /*position: relative;
			left: 100px;*/
		}
		/*右边区域样式*/
