
/*外层中心盒子*/
.box {
    position: relative;
    width: 192px;
    height: 192px;
    margin: 200px auto;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(60deg) rotateZ(60deg);
    animation: circle 10s linear infinite;
}

/*旋转效果*/
@keyframes circle {
    0% {
        transform: rotateX(-30deg) rotateY(60deg) rotateZ(60deg);
    }
    10% {
        transform: rotateX(-30deg) rotateY(120deg) rotateZ(120deg);
    }
    30% {
        transform: rotateX(-30deg) rotateY(180deg) rotateZ(180deg);
    }
    50% {
        transform: rotateX(-30deg) rotateY(240deg) rotateZ(240deg);
    }
    80% {
        transform: rotateX(-30deg) rotateY(300deg) rotateZ(300deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg) rotateZ(360deg);
    }
}

/*面*/
.face {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 192px;
    height: 192px;
    outline: #000 solid 1px;
    text-align: center;
    line-height: 200px;
}

.face:nth-child(1) {
    transform: rotateY(270deg) translateZ(96px);
}

.face:nth-child(2) {
    transform: rotateY(90deg) translateZ(96px);
}

.face:nth-child(3) {
    transform: translateZ(96px);
}

.face:nth-child(4) {
    transform: rotateY(180deg) translateZ(96px);
}

.face:nth-child(5) {
    transform: rotateX(90deg) translateZ(96px);
}

.face:nth-child(6) {
    transform: rotateX(270deg) translateZ(96px);
}

/*魔方左侧界面*/
.left {
    float: left;
    background-color: yellow;
    width: 60px;
    height: 60px;
    border: black solid 2px;
}

/*魔方右侧界面*/
.right {
    float: left;
    background-color: red;
    width: 60px;
    height: 60px;
    border: black solid 2px;
}

/*魔方前部界面*/
.top {
    float: left;
    background-color: blue;
    width: 60px;
    height: 60px;
    border: black solid 2px;
}

/*魔方后部界面*/
.back {
    float: left;
    background-color: white;
    width: 60px;
    height: 60px;
    border: black solid 2px;
}

/*魔方上部界面*/
.up {
    float: left;
    background-color: brown;
    width: 60px;
    height: 60px;
    border: black solid 2px;
}

/*魔方下部界面*/
.down {
    float: left;
    background-color: green;
    width: 60px;
    height: 60px;
    border: black solid 2px;
}
